// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #ba181b;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #000000;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;



/* SCSS HEX */
$rich-black-fogra-39: #0b090aff;
$eerie-black: #161a1dff;
$blood-red: #660708ff;
$ruby-red: #a4161aff;
$carnelian: #ba181bff;
$imperial-red: #e5383bff;
$silver-chalice: #b1a7a6ff;
$light: #d3d3d3;
$cultured: #f5f3f4ff;
$white: #ffffffff;